body, .wrapper, .content-wrapper{
    background-color: #ecf0f5;
}

.category {
    cursor: pointer;
    border:none;
    border-radius: 5px;
    padding-bottom: 0px;
    padding-top: 5px;
}

.content-wrapper{
    position: relative;
    padding: 15px 15px 15px 15px;
}

.widget-user .widget-user-header{
    height: 80px;
}

.challenge-image{
    margin: 0 auto;
    max-width: 100%;
    height: auto;
}

.hide{
    display: none;
}
.show{
    display: initial;
}

.challenge{
    padding:5px !important;
}

#root{
    background-color: #ecf0f5;
}

.skin-yellow .main-sidebar .sidebar .user-panel .image span{
  color:#ffffff;
}

.custom-icon{
    margin-left:5px
}

.selection-mark{
    position: absolute;
    top: -1px;
    right: 2px;
    font-size: 36px;
}

.selected{
    position: relative;
}

.col-md-4.challenge .box-widget,
.col-xs-6.challenge .box-widget{
    min-height: 350px;
    max-height: 350px;
    overflow: hidden;
    position: relative;
}


.category .small-box{
    min-height: 110px;
    max-height: 110px;
}

.logo-lg{
    font-family: "Roboto", Helvetica, Arial, cursive;
    font-weight: bold;
    color: #fff;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: 'Roboto', sans-serif;
}

.challenge-accepted{
    max-width: 100px;
    height: auto;
}
.widget-user-2 .widget-user-username,
.widget-user-2 .widget-user-desc {
    text-align: center;
    margin:0;
}

.share{
    margin-bottom: 3px;
}

.title{
    text-align: center;
    padding: 15px;
    font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.title a{
    color:#ffffff;
    cursor: pointer;
}

.complete-challenge-input-label,
.profile-photo{
    cursor:pointer;
}

.profile-photo{
    width: 200px;
}
.challenge.many .challenge-image{
    width: 200px;
    height: 160px;
    background-position: center center;
    background-size: cover;
    clear: both;
}

@media (max-width: 768px) {
    .profile .col-xs-12 .profile-photo {
        text-align: center;
        margin: 0 auto;
    }
}

.backloading{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 7;
    color: #fff;
    text-align: center;
    background-color: rgba(0,0,0,0.7);
}

.backloading > div{
    height:100%;
    min-height: 100%;
    position: relative;
    top: 25%;
}
.input-error{
    border: 1px solid #dd4b39;
}

#sign-up input{
    border-radius: 5px;
}

.skin-yellow .main-header
.navbar .dropdown-menu li a,
.skin-yellow .main-header
.navbar .dropdown-menu li a:hover{
    color: #444 !important;
}

.skin-yellow .main-header
.navbar .dropdown-menu li a:hover{
    background: #ecf0f5 !important;
}
.dropdown-menu > .divider {
    background-color: #eee !important;
}
.profile-photo-icon{
    background-size: cover;
    background-position: center center;
    width: 30px;
    height: 22.5px;
}