.category {
    cursor: pointer;
    border:none;
    border-radius: 5px;
    padding:5px;
}

.selected{
    border: 5px solid #cccccc !important;
}

.content-wrapper{
    position: relative;
    padding: 15px 15px 0 15px;
    height: 100vh;
}

.widget-user .widget-user-header{
    height: 80px;
}

.challenge-image{
    width: 200px;
}

.hide{
    display: none;
}
.show{
    display: initial;
}

.challenge{
    padding:5px !important;
}


#root{
    background-color: #ecf0f5;
}

.skin-yellow .main-sidebar .sidebar .user-panel .image span{
  color:#ffffff;
}

.custom-icon{
    margin-left:5px
}