.category {
    cursor: pointer;
    border:none;
    border-radius: 5px;
    padding-bottom: 0px;
    padding-top: 5px;
}

.content-wrapper{
    position: relative;
    padding: 15px 15px 0 15px;
    height: 100vh;
}

.widget-user .widget-user-header{
    height: 80px;
}

.challenge-image{
    margin: 0 auto;
}

.hide{
    display: none;
}
.show{
    display: initial;
}

.challenge{
    padding:5px !important;
}

#root{
    background-color: #ecf0f5;
}

.skin-yellow .main-sidebar .sidebar .user-panel .image span{
  color:#ffffff;
}

.custom-icon{
    margin-left:5px
}

.selection-mark{
    position: absolute;
    top: -1px;
    right: 2px;
    font-size: 36px;
}

.selected{
    position: relative;
}

.col-md-4.challenge .box-widget,
.col-xs-6.challenge .box-widget{
    min-height: 300px;
    max-height: 300px;
    overflow: hidden;
    position: relative;
}


.category .small-box{
    min-height: 110px;
    max-height: 110px;
}

.logo-lg{
    font-family: "Roboto", Helvetica, Arial, cursive;
    font-weight: bold;
    color: #fff;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: 'Roboto', sans-serif;
}

.challenge-accepted{
    margin:0 auto;
    max-width: 40%;
    height: auto;
}
.widget-user-2 .widget-user-username,
.widget-user-2 .widget-user-desc {
    text-align: center;
    margin:0;
}

.share{
    margin-bottom: 3px;
}

.profile-photo{
    width:200px;
    cursor: pointer;
}

.user-image{
    width: 100%;
    margin-right: 5px;
    max-width: 15px !important;
    height: auto;
}